################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestApi/bin
/RestApi/obj/Debug
/.vs/config
